APP_NAME=truthguard
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_SECRET_KEY=sdftyhnkogdsetbnkihfsefcbjhufse

OPENAI_API_KEY=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
GEMINI_API_KEY=AIzaSyCRQcUJF4lM6vZDdnFgZKXJqGByPTBRmJ0

SERPAPI_KEY=a5db62eeba8778174ef21fcce9706aaf002f328d955baef84320729a88bed1f0
BING_SEARCH_KEY=
GOOGLE_CUSTOM_SEARCH_KEY=
GOOGLE_CSE_ID=


MONGO_URI=mongodb://username:password@host:port/dbname

MAX_CLAIMS=10
SEARCH_RESULTS_PER_PROVIDER=3
MAX_EVIDENCE_PER_CLAIM=6
